@page "/students"
@using Dekanat.Shared
@inject HttpClient Http

<div class="ui secondary pointing menu">
    <button class="active item" onclick="@ShowModal">
        Добавить студента
    </button>
</div>
<div class="ui grid">
    <table class="ui compact celled definition table" style="padding-left: 0px; padding-right: 0px;">
        <thead class="full-width">
            <tr>
                <th>ФИО</th>
                <th>Факультет</th>
                <th>Кафедра</th>
                <th>Направление подготовки</th>
                <th>Курс</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (studets == null) {
                <tr>
                    <td> Loading... </td>
                </tr>
            }
            else {
                @foreach (var student in studets) {
                    <tr>
                        <td> @student.LastName @student.FirsName @student.MiddleName </td>

                        <td> @student.Faculty </td>

                        <td> @student.Pulpit </td>

                        <td> @student.TrainingDirection </td>
                        <td> @GetCourse(student.ReceiptDate) </td>
                        <td>
                            <button class="ui secondary basic button mini" onclick="@(()=>EditStudent(@student.Id))">Редактировать</button>
                            <button class="ui negative basic button mini" onclick="@(()=>RemoveRowT(@student.Id))">Удалить</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
@if (ModalVisible) {
    <div class="ui dimmer modals page transition visible active" style="display: flex !important;">
        <div class="ui standard test modal transition visible active" style="display: block !important;">
            <div class="header">
                Добавление студента
            </div>
            <div class="content">
                <form class="ui form">
                    <EditForm Model="@StudentModel">
                        <div class="ui segment">

                            <div class="three fields">
                                <div class="field">
                                    <label>Фамилия</label>
                                    <InputText id="LastName" bind-Value="@StudentModel.LastName" />
                                </div>

                                <div class="field">
                                    <label>Имя</label>
                                    <InputText id="FirsName" bind-Value="@StudentModel.FirsName" />
                                </div>

                                <div class="field">
                                    <label>Отчество</label>
                                    <InputText id="MiddleName" bind-Value="@StudentModel.MiddleName" />
                                </div>
                            </div>

                            <div class="field">
                                <label>Номер зачетной книжки</label>
                                <InputNumber id="NumberCard" bind-Value="@StudentModel.NumberCard" />
                            </div>

                            <div class="field">
                                <label>Факультет</label>
                                <InputText id="Faculty" bind-Value="@StudentModel.Faculty" />
                            </div>

                            <div class="field">
                                <label>Кафедра</label>
                                <InputText id="Pulpit" bind-Value="@StudentModel.Pulpit" />
                            </div>

                            <div class="field">
                                <label>Направление подготовки</label>
                                <InputText id="TrainingDirection" bind-Value="@StudentModel.TrainingDirection" />
                            </div>
                            <div class="field">
                                <label>Форма обучения</label>
                                <InputText id="FormStudi" bind-Value="@StudentModel.FormOfStudy" />
                            </div>
                            <div class="field">
                                <label>Дата поступления</label>
                                <InputDate id="ReceiptDate" bind-Value="@StudentModel.ReceiptDate" />
                            </div>

                            <div class="field">
                                <label>Год рождения</label>
                                <InputDate id="YearOfBirth" bind-Value="@StudentModel.YearOfBirth" />
                            </div>


                            <div class="field">
                                <label>Адрес проживания</label>
                                <InputText id="Address" bind-Value="@StudentModel.Address" />
                            </div>

                            <div class="field">
                                <label>Номер телефона</label>
                                <InputText id="PhoneNumber" bind-Value="@StudentModel.PhoneNumber" />
                            </div>

                        </div>
                    </EditForm>
                </form>
            </div>
            <div class="actions">
                <button class="ui black deny button" onclick="@ShowModal">
                    Закрыть
                </button>
                <button type="submit" class="ui secondary button" onclick="@HandleValidSubmit">
                    Добавить
                </button>

            </div>
        </div>
    </div>
}
@if (ModalEditVisible) {
    <div class="ui dimmer modals page transition visible active" style="display: flex !important;">
        <div class="ui standard test modal transition visible active" style="display: block !important;">
            <div class="header">
                Редактирование студента
            </div>
            <div class="content">
                <form class="ui form">
                    <EditForm Model="@StudentModel">
                        <div class="ui segment">

                            <div class="three fields">
                                <div class="field">
                                    <label>Фамилия</label>
                                    <InputText id="LastName" bind-Value="@StudentModel.LastName" />
                                </div>

                                <div class="field">
                                    <label>Имя</label>
                                    <InputText id="FirsName" bind-Value="@StudentModel.FirsName" />
                                </div>

                                <div class="field">
                                    <label>Отчество</label>
                                    <InputText id="MiddleName" bind-Value="@StudentModel.MiddleName" />
                                </div>
                            </div>

                            <div class="field">
                                <label>Номер зачетной книжки</label>
                                <InputNumber id="NumberCard" bind-Value="@StudentModel.NumberCard" />
                            </div>

                            <div class="field">
                                <label>Факультет</label>
                                <InputText id="Faculty" bind-Value="@StudentModel.Faculty" />
                            </div>

                            <div class="field">
                                <label>Кафедра</label>
                                <InputText id="Pulpit" bind-Value="@StudentModel.Pulpit" />
                            </div>

                            <div class="field">
                                <label>Направление подготовки</label>
                                <InputText id="TrainingDirection" bind-Value="@StudentModel.TrainingDirection" />
                            </div>
                            <div class="field">
                                <label>Форма обучения</label>
                                <InputText id="FormStudi" bind-Value="@StudentModel.FormOfStudy" />
                            </div>
                            <div class="field">
                                <label>Дата поступления</label>
                                <InputDate id="ReceiptDate" bind-Value="@StudentModel.ReceiptDate" />
                            </div>

                            <div class="field">
                                <label>Год рождения</label>
                                <InputDate id="YearOfBirth" bind-Value="@StudentModel.YearOfBirth" />
                            </div>


                            <div class="field">
                                <label>Адрес проживания</label>
                                <InputText id="Address" bind-Value="@StudentModel.Address" />
                            </div>

                            <div class="field">
                                <label>Номер телефона</label>
                                <InputText id="PhoneNumber" bind-Value="@StudentModel.PhoneNumber" />
                            </div>

                        </div>
                    </EditForm>
                </form>
            </div>

            <div class="header">
                Оценки
            </div>
            <div class="content">
                <div class="ui list">

                    @if (lessons == null) {
                        <div class="item">
                            Нет данных
                        </div>
                    }
                    else {
                        @foreach (var lesson in lessons) {
                <div class="item">
                    <strong>Номер семестра:</strong>@lesson.Session <strong> Дисцилина:</strong> @lesson.Name <strong> Тип:</strong>@if (lesson.Type) {<text>Экзамен</text>}
                    else { <strong>Экзамен</strong>} <strong> Оценка:</strong>@lesson.Assessment
                </div>
                    }
                    }
                </div>

                <form class="ui form">
                    <EditForm Model="@LessonModel">
                        <div class="ui segment">

                            <div class="four fields">
                                <div class="field">
                                    <label>Название дисциплины</label>
                                    <InputText id="Name" bind-Value="@LessonModel.Name" />
                                </div>
                                <div class="field">
                                    <label>Семестр</label>
                                    <InputNumber id="Session" bind-Value="@LessonModel.Session" />
                                </div>
                                <div class="field">
                                    <label>Тип (зачет/экзамен)</label>
                                    <InputCheckbox id="Type" bind-Value="@LessonModel.Type" />
                                </div>

                                <div class="field">
                                    <label>Оценка</label>
                                    <InputText id="Assessment" bind-Value="@LessonModel.Assessment" />
                                </div>
                            </div>

                        </div>
                    </EditForm>
                </form>
            </div>
            <div class="actions">
                <button class="ui black deny button" onclick="@ShowModalEditl">
                    Закрыть
                </button>
                <button type="submit" class="ui secondary button" onclick="@SaveEdit">
                    Сохранить
                </button>

            </div>
        </div>
    </div>
}


@functions{
    bool ModalVisible = false;
    bool ModalEditVisible = false;

    List<StudentViewModel> studets;
    StudentViewModel StudentModel { get; set; }

    List<LessonViewModel> lessons;
    LessonViewModel LessonModel { get; set; }


    private void ShowModal() {
        StudentModel = new StudentViewModel();
        ModalVisible = !ModalVisible;
    }
    private void ShowModalEditl() {
        ModalEditVisible = !ModalEditVisible;
    }

    protected override async Task OnInitAsync() {
        StudentModel = new StudentViewModel();
        LessonModel = new LessonViewModel();

        studets = await Http.GetJsonAsync<List<StudentViewModel>>("api/Students/Get");
    }

    private int GetCourse(DateTime date) {
        return DateTime.Now.Year - date.Year + 1;
    }

    private async Task RemoveRowT(int id) {
        await Http.DeleteAsync("api/Students/Delete/" + Convert.ToInt32(id));
        studets = await Http.GetJsonAsync<List<StudentViewModel>>("api/Students/Get");
    }

    private async Task EditStudent(int id) {
        ModalEditVisible = !ModalEditVisible;
        StudentModel = await Http.GetJsonAsync<StudentViewModel>("api/Students/Get/" + Convert.ToInt32(id));
        lessons = await Http.GetJsonAsync<List<LessonViewModel>>("api/Students/GetCardLesson/" + Convert.ToInt32(StudentModel.NumberCard));
    }

    private async Task SaveEdit() {
        await Http.PostJsonAsync<StudentViewModel>("api/Students/Save", StudentModel);

        LessonModel.Persone = StudentModel.NumberCard;
        await Http.PostJsonAsync<LessonViewModel>("api/Students/AddLesson", LessonModel);

        studets = await Http.GetJsonAsync<List<StudentViewModel>>("api/Students/Get");
        if (lessons != null) {
            lessons = await Http.GetJsonAsync<List<LessonViewModel>>("api/Students/GetCardLesson/" + Convert.ToInt32(StudentModel.NumberCard));
            //lessons = await Http.GetJsonAsync<List<LessonViewModel>>("api/Students/GetLessons");
        }
        
        //ShowModalEditl();
    }

    private async Task HandleValidSubmit() {
        await Http.PostJsonAsync<StudentViewModel>("api/Students/Add", StudentModel);
        studets = await Http.GetJsonAsync<List<StudentViewModel>>("api/Students/Get");
        ShowModal();
    }

}
